<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Mainpage</title>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
<link rel="stylesheet" href="../static/sidemenu.css">
</head>

<body>
<div id="layout"><!-- Menu toggle --> <a href="#menu" id="menuLink" class="pure-menu-link">
<!-- Hamburger icon --> <span></span> </a>
<div id="menu">
<div class="pure-menu pure-menu-open"> <a style="color: black;" href="https://github.com/stuycs-softdev/proj2-pd6-06-GoodMorning">DJRV</a>
<ul>
<li><a href="login">Login</a></li>
<li><a href="register">Register</a></li>
<li> <a href="https://github.com/stuycs-softdev/proj2-pd6-06-GoodMorning">Github
Account</a> </li>
<li><a href="https://github.com/stuycs-softdev/proj2-pd6-06-GoodMorning/blob/master/README.md">Aim</a></li>
<li><a href="http://purecss.io/">CSS Library</a></li>
</ul>
</div>
</div>
<div id="main">
<div class="header">
<h1>Good Morning!</h1>
<h2>A morning organizer that will make your life super easy!</h2>
</div>
<div class="content">
<h2 class="content-subhead">How to use Good Morning!</h2>
<p> When you are logged into Good Morning!, you will be taken to
a settings page where you input certain information. This application
will combine the important details of your day! </p>
<h2 class="content-subhead">About Good Morning!</h2>
<p> Good Morning! was created by Dorit Rein, Victoria Greene,
Jason Luo and Raymond Lam. It was intended to help frazzled morning
people plan out and organize their mornings, and if they so desire,
their entire days. We used the Pure CSS library, and APIS from Weather
Underground and the MTA(sort of). </p>
<div class="pure-g-r">
<div class="pure-u-1-2"> <img src="../templates/Images/calendar.jpg" alt="example1"> </div>
<div class="pure-u-1-2"> <img src="../templates/Images/login.jpg" alt="example2"> </div>
</div>
<p> To login click <a href="login">here</a>
or click the login button in the sidebar. To register click <a href="register">here</a> or click the register button
in the sidebar. </p>
<div> </div>
</div>
</div>
<script src="js/ui.js"></script>
</div>
</body></html>
