<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">

    <title>Homepage &ndash; DJRV &ndash; Good Morning</title>

    






    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">





    <link rel="stylesheet" href="css/layouts/marketing.css">




    

    

  </head>
  <body>






    <div class="content">
      <div class="header">
        <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
          <a class="pure-menu-heading" href="">Your Site</a>
          <ul>
            <li class="pure-menu-selected"><a href="calendar.html">Calendar</a></li>
            <li><a href="http://new.mta.info">MTA</a></li>
            <li><a href="http://www.weather.com">Weather</a></li>
          </ul>
        </div>
      </div>
    <h1> </h1>
      <div class="splash">
        <div class="pure-g-r">
          <div class="pure-u-2-3">
            <div class="l-box splash-text">
	      <h1 class="splash-head"> Good Morning {{User}}! </h1>

              <h2 class="splash-subhead">
                Welcome to your Morning Organizer! Scroll down for more information on your day. If you need to update your settings, click the button below. Have a great day!
	      </h2>

              <p>
                <a href="settings.html" class="pure-button primary-button">Update Settings</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="pure-g-r content-ribbon">
          <div class="pure-u-2-3">
            <div class="l-box">
              <h4 class="content-subhead">Your Events</h4>
	      {% block body %}
	      <ul>
		{% for x in events %}
		<li><a href="{{ user.url }}">{{ user.username }}</a></li>
		{% endfor %}
	      </ul>
	      {% endblock %}


				  <div class="pure-u-1-3">
				    <div class="l-box">
				      <img src="http://www.dicksoncountyschools.org/UserFiles/Servers/Server_3023089/Image/home_page/calendar.png">
				    </div>
				  </div>
            </div>

            <div class="pure-g-r content-ribbon">
              <div class="pure-u-1-3">
                <div class="l-box">
                  <img src="http://pakistan.embassyhomepage.com/pakistani-weather-forecast.jpg">
                </div>
              </div>

              <div class="pure-u-2-3">
                <div class="l-box">
		  <h3> The Weather </h3>
                  <p>
                    {{Weather}}
                  </p>
		  <h3> The Time </h3>
		  <p>
		    {{Time}}
		  </p>
                </div>
              </div>
            </div>

	    <div class="pure-g-r content-ribbon">
              <div class="pure-u-2-3">
		<div class="l-box">
		  <h4 class="content-subhead">Train Information</h4>
		  <p> {{Train}} </p>

		  
		</div>
	      </div>
            </div>
	  </div>


          <div class="pure-g-r">
            <div class="pure-u-1-4">
              <div class="l-box">
                <h3>Subheading</h3>
                <p>
                  Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.
                </p>
              </div>
            </div>



      
          </div>

          <div class="l-box ribbon">
            
            <a href="home.html" class="pure-button primary-button">Logout</a>
          </div>
	</div>

	<div class="footer">
         Made with love by Dorit, Victoria, Raymond and Jason.
	</div>
      </div>

      <script src="http://yui.yahooapis.com/3.12.0/build/yui/yui.js"></script>
      <script>
	YUI().use('node-base', 'node-event-delegate', function (Y) {
	// This just makes sure that the href="#" attached to the <a> elements
	  // don't scroll you back up the page.
	  Y.one('body').delegate('click', function (e) {
          e.preventDefault();
	  }, 'a[href="#"]');
	  });
      </script>





  </body>
</html>
