<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="60">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">

    <title>Homepage &ndash; DJRV &ndash; SoftDev</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">

    <link rel="stylesheet" href="../static/homepage.css">

    <script type="text/javascript">
      function displayDateAndTime() {
        var final = "";
        var date = new Date();
        var wd = date.getDay();
        if (wd == 0) {final += "Sunday";}
        else if (wd == 1) {final += "Monday";}
        else if (wd == 2) {final += "Tuesday";}
        else if (wd == 3) {final += "Wednesday";}
        else if (wd == 4) {final += "Thursday";}
        else if (wd == 5) {final += "Friday";}
        else if (wd == 6) {final += "Saturday";}
        final += ", ";
        var m = date.getMonth();
        if (m == 0) {final += "January";}
        else if (m == 1) {final += "February";}
        else if (m == 2) {final += "March";}
        else if (m == 3) {final += "April";}
        else if (m == 4) {final += "May";}
        else if (m == 5) {final += "June";}
        else if (m == 6) {final += "July";}
        else if (m == 7) {final += "August";}
        else if (m == 8) {final += "September";}
        else if (m == 9) {final += "October";}
        else if (m == 10) {final += "November";}
        else if (m == 11) {final += "December";}
        final += " " + date.getDate() + ", " + date.getFullYear() + " - ";
        var PM = false; 
        var h = date.getHours();
        if (h == 0) {
          h = 12;
        }
        else if (h == 12) {
          PM = true;
        }
        else if (h > 12) {
          h -= 12;
          PM = true;
        }
        final += h + ":";
        var m = date.getMinutes();
        if (m < 10) { final += "0" + m;}
        else { final += m;}
        var aorp = "AM";
        if (PM) {aorp = "PM";}
        final += aorp;
        document.getElementById("datetime").innerHTML = final;
      }
</script>
  </head>
  <body onload="displayDateAndTime()">
    <div class="pure-g-r" id="layout">
      <div class="sidebar pure-u">
        <header class="header">
	  <br>
	  <br>
          <h1 class="brand-title">Local Weather</h1>
          <p style="color: #999;"> It is currently {{temperature}} &#176; F. <br> {{weather}}. </p>
	<p align:"center" class="post-meta">
	Click here for more <a href="http://www.weather.com">weather</a>.
	</p>
	<br>
	  <img src="http://pakistan.embassyhomepage.com/pakistani-weather-forecast.jpg"
	       width="75%" style="vertical-align:top; padding-left: 20%" align="center">
	  <br>
	  <br>
	  <h1 class="brand-title">Transit Updates</h1>
	  <p style="color: #999;"> 123:  {{ott}} <br> 456:  {{ffs}}
      <br> 7:  {{seven}} <br> ACE:  {{ace}} <br> BDFM:  {{bdfm}} <br>
      G:  {{g}} <br> JZ:  {{jz}} <br> L:  {{l}} <br> NQR:  {{nqr}}
      <br> S:  {{s}} <br>  SIR: {{sir}}</p>
	<p align:"center" class="post-meta">
	Click here for more <a href="http://new.mta.info">MTA info</a>.
	</p>
	<br>
	</header>
      </div>

      <div class="pure-u-1">
        <div class="content">
	  <div class="header">
	    <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
	      <a class="pure-menu-heading" href="">Your Site</a>
	      <ul>
	        <li class="pure-menu-selected"><a href="/">About</a></li>
		<li class="pure-menu-selected"><a href="/calendar">Calendar</a></li>
		<li class="pure-menu-selected"><a href="/logout">Logout</a></li>
		<li class="pure-menu-selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
		<li id="datetime" class="pure-menu-selected">datetime</li>
	      </ul>
	    </div>
	  </div>



	  <!--{% if "username" in session %}-->



	  <!--<ul id="datetime" style="float: right;"><p>datetime</p></ul>-->

	  <div class="splash" style="padding-left: 0%; position: relative;">
	    <div class="pure-g-r">
	      <div class="pure-u-2-3">
		<div class="l-box splash-text">
		     
      
		  <h1 class="splash-head" style="font-size: 400%; margin-left: 0%"> Good Morning, {{nickname}}! </h1>


		  <!--{% endif %}-->

		  
		  <h3 class="content-subhead">&nbsp;&nbsp; Upcoming Events</h3>

		  <p style="margin-left: 0%">
		    {% for e in events %}
		    <li style="margin-left: 5%">{{e.datestr}}: {{e.title}}</li>
		    <br>
		    {%endfor%}
		    <!--<li style="margin-left: 5%">Event2</li>
		    <br>
		    <li style="margin-left: 5%">Event3</li>
		    <br>
		    <li style="margin-left: 5%">Event4</li>
		    <br>
		    <li style="margin-left: 5%">Event5</li>
		    <br>-->
		    <br>
		    <p class="post-meta">
		    Click here to go to your <a href="calendar">calendar</a>.
		    </p>

</div>







</div>
</div>
</div>

<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui.js"></script>
<script>
  YUI().use('node-base', 'node-event-delegate', function (Y) {
  // This just makes sure that the href="#" attached to the <a> elements
    // don't scroll you back up the page.
    Y.one('body').delegate('click', function (e) {
    e.preventDefault();
    }, 'a[href="#"]');
    });
</script>





</body>
</html>
