<!doctype html>
  
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
  <head>
    <script type="text/javascript">
      function submit(frm){
      frm.submit();
      }
    </script>
    <style>
      div.ex
      {
      position: absolute;
      top: 30%;
      left: 30%;
      width: 450px;
      background-color: #CCE5FF;
      padding:10px;
      border:5px solid #66B2FF;
      }
    </style>
    <title>Register</title>
  </head>
  <body bgcolor="#404040">
    <div class="ex">
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Register</h1>
    <form method="POST" name="reg" class="pure-form pure-form-aligned">
      <fieldset>
        <div class="pure-control-group">
          <label for="name">Username</label>
          <input name="name" type="text" placeholder="Username">
        </div>
	
        <div class="pure-control-group">
          <label for="password">Password</label>
          <input name="password" type="password" placeholder="Password">
        </div>
        
        <div class="pure-control-group">
          <label for="confirmPW">Confirm Password</label>
          <input name="confirm" type="password" placeholder="Password">
        </div>

          <button type="submit" class="pure-button pure-button-primary" onClick="submit(this.form)">Submit</button>
        </div>
      </fieldset>
    </form>
    </div>
  </body>
