<!doctype html>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
<head>
  <style>
    div.ex
    {
    position: absolute;
    top: 15%;
    left: 30%;
    width: 450px;
    background-color: #CCE5FF;
    padding:10px;
    border:1px solid #999;
    }
  </style>

  <title>Settings</title>

  <script type="text/javascript">
      function displayDateAndTime() {
        var final = "";
        var date = new Date();
        var wd = date.getDay();
        if (wd == 0) {final += "Sunday";}
        else if (wd == 1) {final += "Monday";}
        else if (wd == 2) {final += "Tuesday";}
        else if (wd == 3) {final += "Wednesday";}
        else if (wd == 4) {final += "Thursday";}
        else if (wd == 5) {final += "Friday";}
        else if (wd == 6) {final += "Saturday";}
        final += ", ";
        var m = date.getMonth();
        if (m == 0) {final += "January";}
        else if (m == 1) {final += "February";}
        else if (m == 2) {final += "March";}
        else if (m == 3) {final += "April";}
        else if (m == 4) {final += "May";}
        else if (m == 5) {final += "June";}
        else if (m == 6) {final += "July";}
        else if (m == 7) {final += "August";}
        else if (m == 8) {final += "September";}
        else if (m == 9) {final += "October";}
        else if (m == 10) {final += "November";}
        else if (m == 11) {final += "December";}
        final += " " + date.getDate() + ", " + date.getFullYear() + " - ";
        var PM = false; 
        var h = date.getHours();
        if (h == 0) {
          h = 12;
        }
        else if (h == 12) {
          PM = true;
        }
        else if (h > 12) {
          h -= 12;
          PM = true;
        }
        final += h + ":";
        var m = date.getMinutes();
        if (m < 10) { final += "0" + m;}
        else { final += m;}
        var aorp = "AM";
        if (PM) {aorp = "PM";}
        final += aorp;
        document.getElementById("datetime").innerHTML = final;
      }
   </script>


</head>

<body bgcolor ="#CCE5FF" onload="displayDateAndTime()">

<div class="header">
            <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
              <a class="pure-menu-heading" href="homepage">Your Site</a>
              <ul>
                <li class="pure-menu-selected"><a href="/">About</a></li>
                <li class="pure-menu-selected"><a href="calendar">Calendar</a></li>
                <li class="pure-menu-selected"><a href="settings">Settings</a></li>
                <li class="pure-menu-selected"><a href="homepage">Home</a></li>
                <!--<li><a href="http://new.mta.info">MTA</a></li>-->
                <!--<li><a href="http://www.weather.com">Weather</a></li>-->
                <li class="pure-menu-selected"><a href="/">Logout</a></li>
                <li class="pure-menu-selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li id="datetime" class="pure-menu-selected">datetime</li>
              </ul>
            </div>
          </div>

  <div class="ex">
  <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Settings </h1> 


  <form method="POST" class="pure-form pure-form-stacked">
    <fieldset class="pure-group">
      <div class="pure-control-group">
          First name
          <input name="name" type="text" placeholder="Name">
        </div>
        <br>
        <div class="pure-control-group">
          Email
          <input name="address" type="text" placeholder="Your email address">
        </div>
        
        <br>
        <div class = "pure-control-group">
          Which subway lines do you take? (Choose up to 3)  
          <label for="train1">First train:</label>  
          <select name="train1">
          <option value="--">--</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="E">E</option>
          <option value="F">F</option>
          <option value="G">G</option>
          <option value="J">J</option>
          <option value="L">L</option>
          <option value="M">M</option>
          <option value="N">N</option>
          <option value="Q">Q</option>
          <option value="R">R</option>
          <option value="S">S</option>
          <option value="Z">Z</option>
        </select>
        <label for="train2">Second train:</label> 
        <select name="train2">
          <option value="--">--</option>
          <option value="1">1</option>1,2,3,4,5,6,7,A,B,C,D,E,F,G,J,L,M,N,Q,R,S,Z
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="E">E</option>
          <option value="F">F</option>
          <option value="G">G</option>
          <option value="J">J</option>
          <option value="L">L</option>
          <option value="M">M</option>
          <option value="N">N</option>
          <option value="Q">Q</option>
          <option value="R">R</option>
          <option value="S">S</option>
          <option value="Z">Z</option>
        </select>
        <label for="train3">Third train:</label> 
        <select name="train3">
          <option value="--">--</option>
          <option value="1">1</option>1,2,3,4,5,6,7,A,B,C,D,E,F,G,J,L,M,N,Q,R,S,Z
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="E">E</option>
          <option value="F">F</option>
          <option value="G">G</option>
          <option value="J">J</option>
          <option value="L">L</option>
          <option value="M">M</option>
          <option value="N">N</option>
          <option value="Q">Q</option>
          <option value="R">R</option>
          <option value="S">S</option>
          <option value="Z">Z</option>
        </select>
        </div>
        <br>
        <div class="pure-controls">  
          <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
      </fieldset>
  </form>
</body>
