<!doctype html>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
<head>
  <style>
    div.ex
    {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 450px;
    background-color: #CCE5FF;
    padding:10px;
    border:5px solid #66B2FF;
    }
  </style>

  <title>Settings</title>
</head>


<body bgcolor ="#404040">
  <div class="ex">
  <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Settings </h1> 


  <form class="pure-form pure-form-stacked">
    <fieldset class="pure-group">
      <div class="pure-control-group">
          <label for="name">Your First Name</label>
          <input id="name" type="text" placeholder="Name">
        </div>
        
        <div class="pure-control-group">
          <label for="address">Address</label>
          <input id="address" type="text" placeholder="Your Current Address">
        </div>
        
        <div class="pure-control-group">
          <label for="zipcode">Zip Code</label>
          <input id="zipcode" type="number" placeholder="Your Zip Code">
        </div>

	<div class = "pure-control-group">
	  <label for="train">Trains</label>
	  <input type="text" class="pure-input-1-2" placeholder="Trains You Take">    
	  </div>
	<div class = "pure-control-group">
	  <label for="state"> Select One:</label>
	  <select id = "Select One of the Following">
	    <option>I live in New York City</option>
	    <option>I do not live in New York City</option>
	  </select>
	  </div>
      <div class="pure-controls">  
          <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
      </fieldset>
  </form>
</body>
